<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/videolist.css">
</head>
<body>
    <div class="header">VideoHub</div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Option</a> -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" id="videos">
                <a class="nav-link" href="#">All</a>
            </li>
            <li class="nav-item" id="videos1">
                <a class="nav-link" href="#">Animals</a>
            </li>
            <li class="nav-item" id="videos2">
                <a class="nav-link" href="#">Movies</a>
            </li>
            <li class="nav-item" id="videos3">
                <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item" id="videos4">
                <a class="nav-link" href="#">Others</a>
            </li>
        </ul>
    </nav>
    <div class="videos_container">
        <ul id="videolist" class="video_list"></ul>
    </div>
    <script src="../../static/js/videolist.js"></script>
    <a class="footer" href="https://engage-2023.com/">https://engage-2023.com/</a>
</body>
</html>