body {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.65);
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-color: white; */
    /* background: red; */
}

.barrage {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 18px;
    border-radius: 28px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.active {
    z-index: 1;
    color: #3ab2e9;
    background: rgba(0, 0, 0, 0.4);
}

.top-tips {
    top: 5px;
    width: 800px;
    height: 30px;
    z-index: 999;
    font-size: 11px;
    padding: 0 10px;
    position: fixed;
    color: #d6fadd;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    left: calc(50% - 400px);
    background: rgba(0, 0, 0, 0.4);
}

.operation-panel {
    position: fixed;
    width: 280px;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    padding: 20px;
    z-index: 999;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.2);
}

.item {
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 18px;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 18px;
    left: 20px;
    display: block;
    cursor: pointer;
    background: url(./static/github.svg) no-repeat;
    background-size: cover;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.button {
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    cursor: pointer;
}

.small-button {
    width: 30px;
}

.button.select {
    background: #5aa9a2;
}

.input {
    width: 120px;
    height: 30px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    color: #e14eba;
    margin-left: 10px;
}

.small-input {
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding: 0 10px;
    outline: none;
    font-size: 16px;
    color: #e14eba;
    background: rgba(255, 255, 255, 0.1);
}

.margin {
    margin-left: 20px;
}

.input-range {
    width: 120px;
    margin-left: 20px;
    outline: none;
}

.tips {
    font-size: 14px;
    color: #40f2b2;
}

.special-barrage {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    padding: 0 10px;
    text-align: center;
    border: 2px solid #fff;
    background: rgba(124, 35, 191, 0.2);
}

input[type=range] {
    -webkit-appearance: none;
    background: #ed803c;
    background-size: 75% 100%;
    height: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

#time {
    position: fixed;
    /* right: 10px; */
    left: 10px;
    top: 10px;
    color: #ffffff;
}

.videoares {
    width: 1240px;
    height: 680px;
    float: right;
    right: 0;
    /* z-index: 999; */
    background-color: #e14eba;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: fill
}